[submodule "MORAI-ROS_morai_msgs"]
	path = MORAI-ROS_morai_msgs
	url = https://github.com/MORAI-Autonomous/MORAI-ROS_morai_msgs.git
[submodule "src/MORAI-ROS_morai_msgs"]
	path = src/MORAI-ROS_morai_msgs
	url = https://github.com/MORAI-Autonomous/MORAI-ROS_morai_msgs.git
